.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: x-large;
    font-weight: 600;
}

.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: #777;
    padding-bottom: 1.5%;
  }
  
  .field input {
    display: block;
    min-width: 400px;
    line-height: 2.2;
    font-size: 16px;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 1%;
    padding: 10px 45px;
    font-size: 16px;
    background-color: #4460AA;
    color: #fff;
    border: none
  }

  select{
    display: block;
    min-width: 405px;
    height: 45px;
    font-size: 17px;
  }

  .msg{
      width: 400px;
      height: 150px;
      font-size: 16px;
      resize: none;
  }
